header {
    background-color: #383B40;
    color: white;
    text-align: center;
    padding: 2em 1em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }  

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

header img.foto-pessoal {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1em;
  }

header h1 {
    font-size: 2em;
    margin-bottom: 0.3em;
  }

body {
    background-color: #F2F2F2;
    color: #383B40;
  }

footer {
    text-align: center;
    padding: 1em;
    margin-top: 30px;
  }

.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
  }

.barra-lateral {
    background-color:#5C5F64;
    color: white;
    padding: 2em;
    width: 30%;
  }

.principal {
    padding: 2em;
    width: 70%;
  }

.principal h2 {
    text-align: center;
  }

.container h2 {
    text-align: center;
  }

.galeria {
    padding: 2em;
    text-align: center;
  }
  
.galeria h3 {
    margin-bottom: 1em;
  }
  
.imagens {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  
.imagens img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
.imagens img:hover {
    transform: scale(1.05);
  }